.headerSection {
  height: 110vh;
  position: relative;
  overflow: visible;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerContainer {
  width: 100%;
  margin: 0 auto;
}

.headerContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.title {
  color: #95aad6;
  font-size: 80px;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: 500;

}

.subtitle {
  color: #8e96a5;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
}



.headerImageContainer {
  width: 50%;
  display: flex;
  justify-content: center;
} 