.myVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* Ocupa el ancho de la pantalla */
    height: 100vh; /* Ocupa el alto de la pantalla */
    object-fit: cover; /* Ajusta el video sin deformarlo */
    z-index: -1;
}